{% extends 'base.html'%}
{% block content%}
<div class="container">
  <h3>News Headlines</h3>
  {% for article_row in Articles | batch(4)%}
  <div class="row">
    {% for Articles in article_row %}

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="{{Articles.url}}" target="_blank">
          <img src="{{Articles.image}}" alt="{{Articles.title}}" class="img-responsive" styles="height:30px">
        </a>
        <div class="caption">
          <h4><a href="{{Articles.url}}" target="_blank">{{Articles.title |truncate(35)}}</a></h4>
          <p>{{Articles.description | truncate(80)}}</p>
          <a href="{{Articles.url}}" target="_blank"> Read More</a>
        </div>

        <div class="footer">
          Published at: {{Articles.date}}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{%endblock%}